<div class=container>

	<div class="row">
		<div class="col-3 offset-3 table-active h2 text-center">管理者ログイン</div>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="col-7 m-auto">
        <table class="table table-borderless">
          <tr>
            <td class="align-middle text-right">メールアドレス</td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></td>
          </tr>
          <tr>
            <td class="align-middle text-right">パスワード</td>
            <td><%= f.password_field :password, autocomplete: "current-password",  class: "form-control"  %></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-2 m-auto">
        <%= f.submit "ログイン", class: "btn btn-primary btn-block" %>
      </div>
    </div>
  <% end %>

</div>
<%= render "admins/admins/shared/links" %>