<div class="container">
	<% if flash[:notice] %>
  		<p><%= flash[:notice] %></p>
	<% end %>
    <div class="row">
        <div class="col-2">
            <table class="table table-borderless border">
                <tr class="border-bottom">
                    <th>ジャンル検索</th>
                </tr>
                <% ProductGenre.where(is_enabled: true).each do |genre| %>
                <tr>
                    <th>
                        <%= link_to members_products_genre_path(genre) do %>
                        <%= genre.category %>
                        <% end %>
                    </th>
                </tr>
                <% end %>
            </table>
        </div>
        <div class="col">
        	<div class="row", style="margin-bottom: 30px;">
        		<div class="col-7 top-visual">
        			<div class="top-visual-content mx-auto">
        				<span class="text-left">
        					<p>
        						ようこそ、NaganoCakeへ！<br>
        						このサイトは、ケーキ販売のECサイトになります。<br>
        						会員でない方も商品の閲覧はできますが、<br>
        						購入には会員登録が必要になります。
        					</p>
        				</span>
        			</div>
        		</div>
        	</div>
        	<!-- おすすめ商品 -->
        	<h3>オススメ商品</h3>
        	<div class="row">
            	<% @products.each do |product| %>
            	<div class="float-left" , style="padding: 10px;">
            	    <%= link_to members_product_path(product) do %>
            	    <%= attachment_image_tag product, :image, fallback: "no_image.jpg", size: "200x160" %><br>
            	    <%= product.name %><br>
            	    ¥<%= (product.unit_price * @tax).round %>
            	    <% end %>
            	</div>
            	<% end %>
        	</div>
        	<div class="float-right"><%= link_to 'もっと見る>', members_products_path %></div>
        	<!--  -->
        </div>
    </div>
</div>