<div class="container">
    <div class="row">
        <div class="col-2">
            <table class="table table-borderless border">
                <tr class="border-bottom">
                    <th>ジャンル検索</th>
                </tr>
                <% ProductGenre.where(is_enabled: true).each do |genre| %>
                <tr>
                    <th>
                        <%= link_to members_products_genre_path(genre) do %>
                        <%= genre.category %>
                        <% end %>
                    </th>
                </tr>
                <% end %>
            </table>
        </div>
        <div class="col offset-1">
            <%= attachment_image_tag @product, :image, fallback: 'no_image.jpg', size: '400x320' %>
        </div>
        <div class="col-4">
            <div style="font-size: 24px;">
                <%= @product.name %>
            </div><br>
            <div style="word-break: normal;">
                <%= @product.description %>
            </div><br>
            ¥<%= (@product.unit_price * @tax).round %>税込
        </div>
        <div class="col-4 offset-9">
            <%= form_with model: @cart_item, url: members_cart_items_path, local: true do |form| %>
            <%= form.number_field :number, style: "width: 150px;" %>
            <%= form.hidden_field :product_id, value: @product.id %>
            <%= form.submit "カートに入れる", class: "btn btn-primary" %>
            <% end %>
        </div>
    </div>
</div>