<div class="container">
  <div class="row">
    <div class="col-2 offset-1 align-items-center table-active text-center h4">注文情報確認</div>
  </div>

  <%= form_with model: @order, url: members_confirm_path, method: :post, local: true do |f| %>
  <div class="row mb-4">
      <div class="col-12 font-weight-bold mb-3 h5 ">
        <mark><%= f.label :支払方法 %></mark>
      </div>
      <div class="col-12 ml-3 h5">
        <%= f.radio_button :payment_method, 0, checked: true %>
        <%= f.label :クレジットカード %><br>
        <%= f.radio_button :payment_method, 1, checked: false %>
        <%= f.label :銀行振込 %>
      </div>
  </div>

  <div class="row">
      <div class="col-12 font-weight-bold mb-3 h5">
        <mark><%= f.label :お届け先 %></mark>
      </div>
      <div class="col-12 ml-3 h5">
        <%= radio_button_tag(:shipping_address, 1, checked: true) %>
        <%= f.label :ご自身の住所 %><br>
      </div>
      <div class="col-12 ml-5 mb-4 h5">
        <%= current_member.postcode %>
        <%= f.hidden_field :postcode, :value => current_member.postcode %>
        <%= current_member.address %>
        <%= f.hidden_field :address, :value => current_member.address %><br>
        <%= current_member.last_name %><%= current_member.first_name %>
        <%= f.hidden_field :last_name, :value => current_member.last_name %><%= f.hidden_field :first_name, :value => current_member.first_name %>
      </div>

      <div class="col-12 ml-3 h5">
        <%= radio_button_tag(:shipping_address, 2) %>
        <%= f.label :登録済住所から選択 %>
      </div>

      <div class="col-12 ml-5 mb-4 h5">
        <%= f.collection_select :shipping_address, current_member.shipping_addresses, :id, :deli, include_blank: "選択してください" %>
        <% f.hidden_field :member_id, value: current_member.id %>
      </div>
  </div>

  <div class="row">
    <div class="col-5 ml-3 h5">
      <%= radio_button_tag(:shipping_address, 3) %>
      <%= f.label :新しいお届け先 %>
      <table class="table table-borderless ml-4 h6">
        <tr>
          <td class="align-middle">郵便番号(ハイフンなし)</td>
          <td><%= f.text_field :postcode, autofocus: true, autocomplete: "postcode", :class => "form-control" %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-8 ml-3 h5">
      <table class="table table-borderless ml-4 h6">
          <tr>
            <td class="align-middle">住所</td>
            <td>
              <%= f.text_field :address, autofocus: true, autocomplete: "address", :class => "form-control", size: 10 %>
            </td>
          </tr>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-8 ml-3 h5">
      <table class="table table-borderless ml-4 h6">
          <tr>
            <td class="align-middle">宛名</td>
            <td><%= f.text_field :addressee, autofocus: true, autocomplete: "addressee", :class => "form-control", size: 10 %></td>
          </tr>
        </table>
      </div>
    </div>

  <div class="row">
    <div class="col-3 offset-4">
      <%= f.submit :"確認画面へ進む", class: "btn btn-primary btn-block" %>
    </div>
  </div>
  <% end %>
</div>
