<div class="container">
  <div class="row">
    <div class="col-4 table-active text-center h4"><%= @member.last_name %><%= @member.first_name %>さんの会員詳編集</div>
  </div>

  <%= form_for(@member, url:admins_member_path, method: :PATCH ) do |f| %>
  <div class="row">
    <div class="col-9">
    <table class="table table-borderless">

      <tr>
        <td class="align-middle">顧客ID</td>
        <td><%= @member.id %></td>
      </tr>

      <tr>
        <td class="align-middle"><%= f.label :氏名 %></td>
        <td><%= f.text_field :last_name, class: "last_name" %></td>
        <td><%= f.text_field :first_name, class: "first_name" %></td>
      </tr>

      <tr>
        <td class="align-middle"><%= f.label :フリガナ %></td>
        <td><%= f.text_field :last_name_kana, class: "last_name_kana" %></td>
        <td><%= f.text_field :first_name_kana, class: "first_name_kana" %></td>
      </tr>

      <tr>
        <td class="align-middle"><%= f.label :郵便番号 %></td>
        <td><%= f.text_field :postcode, class: "postcode" %></td>
      </tr>

      <tr>
        <td class="align-middle"><%= f.label :住所 %></td>
        <td><%= f.text_field :address, class: "address" %></td>
      </tr>

        <tr>
          <td class="align-middle"><%= f.label :電話番号 %></td>
          <td><%= f.text_field :phone_number, class: "phone_number" %></td>
        </tr>

        <tr>
          <td class="align-middle"><%= f.label :メールアドレス %></td>
          <td><%= f.text_field :email, class: "email" %></td>
        </tr>
    </table>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <table class="table table-borderless">
        <tr>
          <td class="align-middle">
            <%= f.label :会員ステータス %>
          </td>
          <td><%= f.radio_button :is_enabled, :true %></td>
            <td><%= f.label :有効 %></td>
          <td><%= f.radio_button :is_enabled, :false %></td>
            <td><%= f.label :退会済み %></td>
        </tr>
    </table>
    </div>
  </div>

  <div class="row">
    <div class="col-3 offset-2">
      <%= f.submit :変更を保存する, class: "btn btn-primary btn-block" %>
    </div>
  </div>
  <% end %>
</div>