<div class="container">
	<div class="row">
    <div class="col-4 offset-1 align-items-center table-active text-center h4"><%= @member.last_name %><%= @member.first_name %>さんの会員詳細</div>
  </div>

  <div class="row">
    <div class="col-6">
      <table class="table table-borderless">
        <tr>
          <td class="align-middle">顧客ID</td>
            <td><%= @member.id %></td>
          <% if @member.is_enabled == true %>
            <td><mark>有効会員</mark></td>
          <% elsif @member.is_enabled == false %>
            <mark><td>退会済み</td></mark>
          <% end %>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <table class="table table-borderless">
        <tr>
          <td class="align-middle">氏名</td>
          <td><%= @member.last_name %>　<%= @member.first_name %></td>
        </tr>

        <tr>
          <td class="align-middle">フリガナ</td>
          <td><%= @member.last_name_kana %>　<%= @member.first_name_kana %></td>
        </tr>

        <tr>
          <td class="align-middle">郵便番号</td>
          <td><%= @member.postcode %></td>
        </tr>

        <tr>
          <td class="align-middle">住所</td>
          <td><%= @member.address %></td>
        </tr>

        <tr>
          <td class="align-middle">電話番号</td>
          <td><%= @member.phone_number %></td>
        </tr>

        <tr>
        </tr>
          <td class="align-middle">メールアドレス</td>
            <td><%= @member.email %></td>
        </tr>
      </table>
    </div>
  </div>

        <div>
          <%= link_to '編集する',edit_admins_member_path(@member), class: "btn btn-primary" %>
          <%= link_to '注文履歴一覧を見る', admins_orders_path(id: @member, version: 'member'), class: "btn btn-primary" %>
        </div>
    </div>
  </div>
</div>