<div class="container">
	<div class="row">
		<div class="col-sm-3 col-xs-offset-1">
			<h2 class="text-center table-active">配送先編集</h2>
		</div>
	</div>
	<div class="form-horizontal">
		<%= form_for(@shipping_address, url: members_shipping_address_path) do |f| %>
		<%= render 'layouts/error_messages', model: f.object %>
		<div class="form-group row">
			<div class="col-3 col-form-label">郵便番号(ハイフンなし)</div>
			<div class="col-3">
				<%= f.text_field :postcode, autofocus: true, autocomplete: "postcode", :class => "form-control" %>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-3 col-form-label">住所</label>
			<div class="col-6">
				<%= f.text_field :address, autofocus: true, autocomplete: "address", :class => "form-control" %>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-3">宛名</label>
			<div class="col-3">
				<%= f.text_field :addressee, autofocus: true, autocomplete: "addressee", :class => "form-control" %>
			</div>
		</div>

		<div class="form-group">
			<div class="col-2 offset-8">
				<%= f.submit "編集する", class: "btn btn-primary btn-block" %>
			</div>
		</div>
		<% end %>
	</div>
</div>