<div class="container">
	<h2>商品一覧</h2>
	<div class="text-right">
		<%= link_to '＋', new_admins_product_path,
		 class: "btn btn-primary rounded-circle p-0 text-center", style: "width:2rem; height:2rem;" %>
	</div>
	<table class="table">
		<thead class="thead-light">
			<tr class="active">
				<th>商品ID</th>
				<th>商品名</th>
				<th>税抜価格</th>
				<th>ジャンル</th>
				<th>ステータス</th>
			</tr>
		</thead>
		<tbody>
			<% @products.each do |product| %>
				<tr>
					<td><%= product.id %></td>
					<td><%= link_to product.name, admins_product_path(product) %></td>
					<td><%= product.unit_price %></td>
					<td><%= product.product_genre.category %></td>
					<% if product.is_sales == true %>
						<td>販売中</td>
					<% elsif product.is_sales == false %>
						<td>販売停止中</td>
					<% else %>
						<td></td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= paginate @products %>
</div>
