<div class="container">
<%= link_to '商品新規登録', new_admins_product_path %>
<%= link_to '商品一覧', admins_products_path %>
	<h4>商品詳細</h4>
	<div style="padding-top: 80px;">
		<div class="row">
			<div class="col-4">
				<%= attachment_image_tag @product, :image, fallback: 'no_image.jpg', size: "250x200" %>
			</div>
			<div class="col-6">
				<div>
					<label style="width: 15%;">商品名</label>
					<span style="width: 45%;"><%= @product.name %></span>
				</div><br>
				<div>
					<label style="width: 15%;">商品説明</label>
					<span style="width: 45%; word-wrap: break-word;"><%= @product.description %></span>
				</div><br>
				<div>
					<label style="width: 15%;">ジャンル</label>
					<span style="width: 45%;"><%= @product.product_genre.category %></span>
				</div><br>
				<div>
					<label style="width: 30%;">税込価格(税抜価格)</label>
					<span style="width: 45%;"><%= (@product.unit_price * @tax).round %>(<%= @product.unit_price %>)</span>
				<div><br>
					<label style="width: 30%;">販売ステータス</label>
					<span style="width: 45%;">
						<% if @product.is_sales == true %>
							販売中
						<% else %>
							販売停止中
						<% end %>
					</span>
				</div><br>
				<div class="text-right">
					<%= link_to "編集する", edit_admins_product_path, class: "btn btn-primary btn-lg" %>
				</div>
			</div>
		</div>
	</div>
</div>