<!DOCTYPE html>
<html>
  <head>
    <title>長野cake</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/efa75c5e0c.js" crossorigin="anonymous"></script>
  </head>

          <body>
            <header>
              <nav class="navbar navbar-expand-lg">
                <div class="container">
                  <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">
                      <span><%= link_to image_tag('nagano_cake_logo2.png'), "/" %></span>
                    </li>
                  </ul>


                  <ul class="nav navbar-nav navbar-right">
                    <% if member_signed_in? %>
                      <li>ようこそ、<%= current_member.first_name %> さん！</li>
                      <li><%= link_to 'マイページ', members_member_path(current_member.id) %></li>
                      <li><%= link_to '商品一覧', members_products_path %></li>
                      <li><%= link_to 'カート', members_cart_item_path(current_member) %></li>
                      <li><%= link_to 'ログアウト', destroy_member_session_path, method: :delete %></li>
                    <% elsif admin_signed_in? %>
                      <li><%= link_to '商品一覧', admins_products_path %></li>
                      <li><%= link_to '会員一覧', admins_members_path %></li>
                      <li><%= link_to '注文履歴一覧', "#" %></li>
                      <li><%= link_to 'ジャンル一覧', admins_product_genres_path %></li>
                      <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
                    <% else %>
                      <li><%= link_to '商品一覧', "#" %></li>
                      <li><%= link_to '新規登録', new_member_registration_path %></li>
                      <li><%= link_to 'ログイン', new_member_session_path %></li>
                    <% end %>
                  </ul>
                  </nav>
                </div>
              </nav>
              <%= yield %>
            </header>
          </body>
</html>

