<!DOCTYPE html>
<html>
  <head>
    <title>ながのcake</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/efa75c5e0c.js" crossorigin="anonymous"></script>
  </head>

          <body>
            <header class="border-bottom mb-5", style="background-color: rgba(190,176,152,0.4);">
              <nav class="navbar navbar-expand-lg">
                  <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item m-4">
                      <span><%= link_to image_tag('logo.png'), "/" %></span>
                    </li>
                  </ul>


                  <ul class="nav navbar-nav navbar-right">
                    <% if member_signed_in? %>
                      <li class="mr-5 mt-2">ようこそ、<%= current_member.last_name%><%= current_member.first_name%> さん！</li>
                      <li class="mr-4"><%= link_to 'マイページ', members_member_path(current_member.id), class: "page-link text-dark d-inline-block btn" %></li>
                      <li class="mr-4"><%= link_to '商品一覧', members_products_path, class: "page-link text-dark d-inline-block btn" %></li>
                      <li class="mr-4"><%= link_to 'カート', members_cart_item_path(current_member), class: "page-link text-dark d-inline-block btn" %></li>
                      <li class="mr-4"><%= link_to 'ログアウト', destroy_member_session_path, method: :delete, class: "page-link text-dark d-inline-block btn" %></li>
                    <% elsif admin_signed_in? %>
                      <li class="mr-4"><%= link_to '商品一覧', admins_products_path, class: "page-link text-dark d-inline-block btn" %></li>
                      <li class="mr-4"><%= link_to '会員一覧', admins_members_path, class: "page-link text-dark d-inline-block btn" %></li>
                      <li class="mr-4"><%= link_to '注文履歴一覧', admins_orders_path, class: "page-link text-dark d-inline-block btn" %></li>
                      <li class="mr-4"><%= link_to 'ジャンル一覧', admins_product_genres_path, class: "page-link text-dark d-inline-block btn" %></li>
                      <li class="mr-4"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "page-link text-dark d-inline-block btn" %></li>
                    <% else %>
                      <li class="mr-4"><%= link_to '商品一覧', members_products_path, class: "page-link text-dark d-inline-block btn" %></li>
                      <li class="mr-4"><%= link_to '長野CAKEとは', members_about_path, class: "page-link text-dark d-inline-block btn" %></li>
                      <li class="mr-4"><%= link_to '新規登録', new_member_registration_path, class: "page-link text-dark d-inline-block btn" %></li>
                      <li class="mr-4"><%= link_to 'ログイン', new_member_session_path, class: "page-link text-dark d-inline-block btn" %></li>
                    <% end %>
                  </ul>
                  <div class="nav navbar-nav navbar-right " style="float:right;">
                  <%= form_tag(members_products_path,:method => 'get') do %>
                    <%= text_field_tag :search %>
                    <%= submit_tag 'Search', :name => nil %>
                  <% end %>
                  </div>
                </nav>

                

            </header>
           <%= yield %>
          </body>
</html>

